body {

    background-image: url(fundo.jpeg);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 100% 3000px;

}

#identificador-1 {
    background-color: rgb(73, 236, 182);
}

header {
    height: 300px;
}

nav {
    height: 100px;
}

section {
    float: left;
    height: 200px;
    width: 70%;
}

aside {
    float: left;
    height: 200px;
    width: 30%;
}

footer {
    background-color: rgb(27, 138, 101);
    color: beige;
}

div {
}

.container {
    display: flex;
}

.background_paper {
    background-image: url(papel\ rasgado.png);
    background-size: 800px 600px;
    background-repeat: no-repeat;
    background-position: 0px 220px;
}
.background_paper2 {
    background-image: url(papel\ rasgado.png);
    background-size: 800px 600px;
    background-repeat: no-repeat;
    background-position: 400px 220px;
}

.background_paper3 {
    background-image: url(papel\ rasgado.png);
    background-size: 800px 1000px;
    background-repeat: no-repeat;
    background-position: 400px 210px;
}

.background_paper4 {
    background-image: url(papel\ rasgado.png);
    background-size: 800px 800px;
    background-repeat: no-repeat;
    background-position: 0px 220px;
}

.introduction {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 300px;
    text-align: center;
    font-weight: bold;
    font-size: x-large;

}

.imagem-1 {
    margin-top: 50px;
    margin-left: 100px;
    width: 40%z;

}
.imagem-2 {
    margin-top: 50px;
    margin-right: 100px;
    width: 40%z;

}

.text {
    margin-left: 50px;
    margin-top: 250px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 50%;

}

.text2 {
    margin-left: 450px;
    margin-top: 250px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 50%;

}